.i-alc {
	fill: #7087ED;
	stroke: #7087ED;
	background-color: #7087ED
}

.i-carb {
	fill: #C8A98B;
	stroke: #C8A98B;
	background-color: #C8A98B
}

.i-condi {
	fill: #D58680;
	stroke: #D58680;
	background-color: #D58680
}

.i-egg {
	fill: #70A287;
	stroke: #70A287;
	background-color: #70A287
}

.i-etc {
	fill: #9AA6BF;
	stroke: #9AA6BF;
	background-color: #9AA6BF
}

.i-fat {
	fill: #81CDD8;
	stroke: #81CDD8;
	background-color: #81CDD8
}

.i-fish {
	fill: #E97139;
	stroke: #E97139;
	background-color: #E97139
}

.i-fruit {
	fill: #7FDD46;
	stroke: #7FDD46;
	background-color: #7FDD46
}

.i-herb {
	fill: #95A84E;
	stroke: #95A84E;
	background-color: #95A84E
}

.i-meat {
	fill: #EE5874;
	stroke: #EE5874;
	background-color: #EE5874
}

.i-milk {
	fill: #6EA2DC;
	stroke: #6EA2DC;
	background-color: #6EA2DC
}

.i-nuts {
	fill: #D09E44;
	stroke: #D09E44;
	background-color: #D09E44
}

.i-onion {
	fill: #60C667;
	stroke: #60C667;
	background-color: #60C667
}

.i-spice {
	fill: #B62300;
	stroke: #B62300;
	background-color: #B62300
}

.i-sweet {
	fill: #CDE1A6;
	stroke: #CDE1A6;
	background-color: #CDE1A6
}

.i-veg {
	fill: #65DDB7;
	stroke: #65DDB7;
	background-color: #65DDB7
}

.i-text {
	text-anchor: middle;
	font-family: 'Noto Sans', sans-serif;
  font-size: 6rem;
	fill: black;
	background-blend-mode: hard-light;
}

.g-text {
	text-anchor: start;
	font-family: "Noto Sans", sans-serif;
	font-size: 3.5vw;
	fill: black;
	background-blend-mode: hard-light;
}

.prev1 {
	fill: #c3dad2;
	stroke: #c3dad2;
	background-color: #c3dad2;
	cursor: pointer;
	width: 50px;
	height: 16px;
}

.prev2 {
	fill: #8fbeaf;
	stroke: #8fbeaf;
	background-color: #8fbeaf;
	cursor: pointer;
	width: 50px;
	height: 16px;
}

.prev3 {
	fill: #59a38d;
	stroke: #59a38d;
	background-color: #59a38d;
	cursor: pointer;
	width: 50px;
	height: 16px;
}

.prev4 {
	fill: #488f31;
	stroke: #488f31;
	background-color: #488f31;
	cursor: pointer;
	width: 50px;
	height: 16px;
}
